BasedOnStyle: LLVM
Language: Cpp
FixNamespaceComments: false

# Indentation
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

# Pointer/reference style
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Force braces where possible
InsertBraces: true
RemoveBracesLLVM: false

# Misc.
IndentCaseLabels: true
IndentCaseBlocks: true
NamespaceIndentation: None
ColumnLimit: 200
SortIncludes: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true
Standard: Latest
