---
Language: Cpp

BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Functions
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

# Parameters
BinPackParameters: true
BinPackArguments: true

# References & pointers
PointerAlignment: Right
ReferenceAlignment: Pointer

# Spaces
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
SpaceInEmptyParentheses: false

# Includes
SortIncludes: Never
IncludeBlocks: Preserve

# Alignment
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Access modifiers
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

# Classes
IndentCaseLabels: true
IndentGotoLabels: false

# Columns
ColumnLimit: 120

# Constructor initializers
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: CurrentLine

# Misc
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
NamespaceIndentation: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true

Standard: Latest

AllowShortIfStatementsOnASingleLine: Never